body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    outline: none;
}

.container {
    width: 100%;
    max-width: 400px; /* Defina a largura máxima desejada */
    margin: 0 auto; /* Centraliza a container horizontalmente */
}

.cadastro-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.login-message {
    text-align: center;
}

form {
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #333;
    width: 100%; /* Ajuste a largura conforme necessário */
}

select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input.valido,
input.valido:focus {
    border-color: #007bff;
    outline-color: #007bff;
}

input.invalido,
input.invalido:focus {
    border-color: red;
    outline-color: red;
}

